/*
* Henri
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics
================================================== */


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font-size: 16px;
    font-family: "PT Serif", "Georgia", "Times New Roman", serif;
		color: #181818;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
    line-height: 1.4em;
  }

  pre, code {
    font-family: Monaco, Courier, monospace;
    font-size: 12px;
    color: #000;
  }

  pre {
    margin-bottom: 1.5em;
    border: 1px solid #e5e5e5;
    padding: 0.5em 1em;
    background: #fafafa;
    white-space: pre-wrap;
  }

  code {
    background: #efefef;
  }

  pre code {
    background: transparent;
  }

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "PT Sans", sans-serif;
		font-weight: normal;
    margin-top: 1.0em;
  }

  blockquote, blockquote p {
    font-size: 16px;
    color: #777;
    font-style: italic;
  }
  blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }

/* #Links
================================================== */
  a {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #a3becc;
  }

  a:hover {
    color:#bf0000;
  }

  .homelink {
    border: none;
  }
/* #Lists
================================================== */

  ul {
    list-style: circle;
  }

/* #Images
================================================== */


/* #Buttons
================================================== */


/* #Forms
================================================== */


/* #Misc
================================================== */
